{% extends "base.html" %}
{% block description %}Details for a single rain gauge{% endblock %}
{% block title %}Rain Gauge Details{% endblock %}
{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
<h1>Rain Gauge Details</h1>
<h3>{{ gauge.address }}</h3>
<br>
<p>
Latitude {{ gauge.latitude|floatformat:5 }}&deg;,
Longitude {{ gauge.longitude|floatformat:5 }}&deg;
</p>
<br>
<div id="chart" style="width:600px;height:280px;"></div>
{% endblock %}
{% block scripts %}
<script>
{% autoescape off %}
var data = [{ x: {{ time }}, y: {{ rainfall }} }];
{% endautoescape %}
var layout = {
  margin: { t: 20 },
  yaxis: { title: 'Hourly Total (mm)' }
};
Plotly.plot('chart', data, layout, { scrollZoom: true });
</script>
{% endblock %}
