{% extends "base.html" %}
{% block description %}Rain gauge map{% endblock %}
{% block title %}Rain Gauge Map{% endblock %}
{% block head %}
<script src="https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js"></script>
<link href="https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css" rel="stylesheet">
<style>
#map { height:400px; }
</style>
{% endblock %}
{% block content %}
<h1>Rain Gauge Map</h1>
<div id="map"></div>
{% endblock %}
{% block scripts %}
<script>
L.mapbox.accessToken = '{{ token }}';

var map = L.mapbox.map('map', null);

var baseLayers = {
  Streets: L.mapbox.tileLayer('mapbox.streets'),
  Outdoors: L.mapbox.tileLayer('mapbox.outdoors'),
  Satellite: L.mapbox.tileLayer('mapbox.satellite')
};

baseLayers.Streets.addTo(map);
L.control.layers(baseLayers).addTo(map);

var coords = [];
{% for gauge in gauges %}
  var coord = [{{ gauge.latitude }}, {{ gauge.longitude }}];
  var content = '<a href="{% url 'rain:detail' gauge.id %}">{{ gauge.address }}</a><br>Latitude {{ gauge.latitude|floatformat:5 }}&deg;, Longitude {{ gauge.longitude|floatformat:5 }}&deg;';
  L.marker(coord).bindPopup(content, {
    minWidth: 360,
  }).addTo(map);
  coords.push(coord);
{% endfor %}

map.fitBounds(coords);
</script>
{% endblock %}
