{% extends "base.html" %}
{% block description %}3-day flood forecast{% endblock %}
{% block title %}3-Day Forecast{% endblock %}
{% block content %}
<h1>3-Day Forecast</h1>

<p>{{ summary }}</p>

<div class="row">
  {% for day in days %}
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">{{ day|date:"l j F" }}</div>
      <div class="panel-body text-center">
        <img src="http://environment.data.gov.uk/flood-monitoring/id/3dayforecast/image/{{ forloop.counter }}" alt="Flood forecast map image">
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<p class="text-center">
  ({{ label }})
</p>
{% endblock %}
